        <footer>
                <img class="centerIMG" src="/img/csumb.png" alt="csumb" />
                <!--<div class="footer" > -->
                <h4 class="centerText">Internet Programming Final Project - CSUMB 2019 &copy;</h4>
                <!--</div>-->
        </footer>
</html>