<%- include('partials/header') %>

<script>
    $(document).ready(function() //START DOM / DOC READY 
    {
       //js begin 
       
       
       
       
       
        
    });//END DOC READY DOM
</script>


<h1 class="centerText">Welcome to the Home Page!!</h1>


<%- include('partials/footer') %>