.head
{
    font-family: 'Baskervville', serif;
}
body
{
    background-color: grey;
    color: white;
    text-align: center; 
}
.centerText
{
    text-align: center; 
    
}
.centerIMG
{
    display:      block;
    margin-left:  auto;
    margin-right: auto;
}